/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 Apr, 2016, 10:26:28 AM
    Author     : hp
*/

textarea#styleid{
color:#666;
font-size:14px;
-moz-border-radius: 8px; -webkit-border-radius: 8px;
margin:5px 0px 10px 0px;
padding:10px;
height:75px;
width:350px;
resize: none;
border:#999 1px solid;
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
transition: all 0.25s ease-in-out;
-webkit-transition: all 0.25s ease-in-out;
-moz-transition: all 0.25s ease-in-out;
box-shadow: 0 0 5px rgba(81, 203, 238, 0);
-webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
-moz-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
}

textarea#styleid:focus{
color:#000;
outline:none;
border:#35a5e5 1px solid;
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
box-shadow: 0 0 5px rgba(81, 203, 238, 1);
-webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
-moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

body{
    background-size:cover;
    background-position:top center; 
    background-repeat:no-repeat; 
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    width: 1300px;
    text-align: center;
    margin: 20px auto;
    height: 650px;
}
#left-coloumn{
    height: 400px;
    width: 650px;
    float: left;
    height: 650px;
}

#f-submit{
     height: 155px;
    width: 155px;
    float: left;
    margin-left: 100px;
    margin-top:  40px;
}
#submit{
    margin-left: -20px;
    margin-top: 143px;
}

#f-refresh{
    margin-left: -200px;
    margin-top: 143px
}

table{
    width: 550px;
    border-collapse: separate;
    border-spacing: 9px 6px;
}
th{
    font-family:Verdana;
    alignment-adjust: central;
}

#load-me{
    height: 400px;
    width: 650px;
    height: 650px;
    float: left;
}
#footer{
    height: 60px; 
    clear: left;
}